
#site-name{
  text-align: center;
  background-color: #2FFB01;
  color: #FB7E00;
  }
#link{
  text-align: center;
}
.thin-orange-border{
  /*
    Declare a SCSS function that takes a value to be scaled and ideal viewport width:
  */
  @function scaleValue(
    $value,
    $idealViewportWidth: 1400px,
    $min: 840px,
    $max: 1960px
  ) {
    @return calc(
    #{$value} * (clamp(#{$min}, 100vw, #{$max}) / #{$idealViewportWidth})
    );
  }
  border-color: orange;
  border-width: #{scaleValue(500)};
  border-style: solid;
}
.green-background{
  background-color: #2FFB01;
}
#smallImage{
    width: 100px;
    border-color: orange;
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
  }
#animalIntro{
    background-color: #2FFB01;
  }
#animalInfo{
    background-color: #2FFB01;
  }
#button{
    text-align: center;
  }
#form{
    background-color: #2FFB01;
  }
#return-links{
  background-color: #2FFB01
}
